<p id="notice"><%= @error %></p>

<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :username %>
    <%= f.input :pivotal_token %>
    <p>
    	Get it from your pivotal tracker <%= link_to 'profile page', 'https://www.pivotaltracker.com/profile', {target: '_blank'} %>
	</p>

	<p>
		Create oauth token for hipster at this <%= link_to 'page', 'https://icetest.harvestapp.com/oauth2_clients' %>
		Please use <code><%= root_url %></code> as redirect url.
	</p>    
    <%= f.input :harvest_subdomain %>
    <%= f.input :harvest_identifier %>
    <%= f.input :harvest_secret %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
