<h1>Listing users</h1>

<table>
  <tr>
    <th>Pivotal</th>
    <th>Pivotal username</th>
    <th>Pivotal password</th>
    <th>Harvest subdomain</th>
    <th>Harvest</th>
    <th>Harvest username</th>
    <th>Harvest password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.pivotal_id %></td>
    <td><%= user.pivotal_username %></td>
    <td><%= user.pivotal_password %></td>
    <td><%= user.harvest_subdomain %></td>
    <td><%= user.harvest_id %></td>
    <td><%= user.harvest_username %></td>
    <td><%= user.harvest_password %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
