<p id="notice"><%= notice %></p>

<p>
  <b>Pivotal:</b>
  <%= @user.pivotal_id %>
</p>

<p>
  <b>Pivotal username:</b>
  <%= @user.pivotal_username %>
</p>

<p>
  <b>Pivotal password:</b>
  <%= @user.pivotal_password %>
</p>

<p>
  <b>Harvest subdomain:</b>
  <%= @user.harvest_subdomain %>
</p>

<p>
  <b>Harvest:</b>
  <%= @user.harvest_id %>
</p>

<p>
  <b>Harvest username:</b>
  <%= @user.harvest_username %>
</p>

<p>
  <b>Harvest password:</b>
  <%= @user.harvest_password %>
</p>

<%= link_to 'Manage Project Integration', user_integrations_path(@user) %> |
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
