<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.username %>
</p>

<p>
  <b>Pivotal token:</b>
  <%= @user.pivotal_token %>
</p>

<p>
  <b>Harvest Subdomain:</b>
  <%= @user.harvest_subdomain %>
</p>
<p>
  <b>Harvest Identifier:</b>
  <%= @user.harvest_identifier %>
</p>
<p>
  <b>Harvest Secret:</b>
  <%= @user.harvest_secret %>
</p>

<%= link_to 'Manage Project Integration', user_integrations_path(@user) %> |
<%= link_to 'Edit', edit_user_path(@user) %>
