<%= simple_form_for([@integration, @person_mapping]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :harvest_id, as: :select, collection: @harvest_single_users  %>
    <%#= f.input :email %>
    <%= f.input :pivotal_name, as: :select, collection: @pivotal_single_users  %>
    <%= f.association :integration, as: :hidden %>
  </div>

  <div class="form-submit">
    <%= f.button :submit %>

    <% if @person_mapping.id %>
      <%= link_to 'Cancel', user_integration_path(@person_mapping.integration.user, @person_mapping.integration), class: 'btn' %>
    <% else %>
      <%= link_to 'Cancel', user_integration_path(@integration.user, @integration), class: 'btn' %>
    <% end %>
  </div>
<% end %>
