<div class="row-fluid">
  <h2>Person mappings</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Harvest</th>
        <th>Pivotal</th>
        <th>Integration</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

  <% @person_mappings.each do |person_mapping| %>
    <tbody>
      <tr>
        <td><%= person_mapping.harvest_info %></td>
        <td><%= person_mapping.pivotal_info %></td>
        <td><%= person_mapping.integration %></td>
        <td><%= link_to 'Show', person_mapping %></td>
        <td><%= link_to 'Edit', edit_person_mapping_path(person_mapping) %></td>
        <td><%= link_to 'Destroy', person_mapping, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    </tbody>
  <% end %>
  </table>
  <%= link_to 'Back To Integration Page', [@integration.user, @integration], class: 'btn' %>
  <%= link_to 'New Person mapping', new_project_person_mapping_path(@integration), class: 'btn' %>
</div>
