<p id="notice"><%= notice %></p>

<p>
  <b>Harvest:</b>
  <%= @person_mapping.harvest_info %>
</p>

<p>
  <b>Pivotal:</b>
  <%= @person_mapping.pivotal_info %>
</p>

<p>
  <b>Integration:</b>
  <%= link_to @person_mapping.integration, user_integration_path( @person_mapping.integration.user, @person_mapping.integration )%>
</p>


<%= link_to 'Edit', edit_person_mapping_path(@person_mapping) %> |
<%= link_to 'Back', integration_person_mappings_path(@person_mapping.integration) %>
