<% if notice %>
  <div class="alert alert-success">
    <%= notice %>
    <a class="close" data-dismiss="alert" href="#">&times;</a>
  </div>
<% end %>
<hr>
<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div valign="center">
      <%= f.input :client_id, as: :select, collection: @harvest_clients %>
      <%= f.input :project_name %>
      <%= f.input :harvest_project_code, :label => 'Project Code' %>
      <%= f.input :harvest_billable, as: :select, :label => 'Billable' %>
      <%= f.input :harvest_budget, :label => 'Budget ($)' %>
      <%= f.input :pivotal_start_iteration, as: :select, :label => 'Start Iteration', collection: Date::DAYNAMES.zip(Date::DAYNAMES) %>
      <%= f.input :pivotal_start_date, :label => 'Start Date' %>
    <br> <b>Team Member</b>
    <% if @people_list.empty? %>
      <br>No user found
    <% else %>
      <% @people_list.each do |pm| %>
        <div><input type="checkbox" name="project[person_ids][]" id="project_person_ids" value="<%=pm.id%>" /> <%=pm.harvest_name%></div>
      <% end %>
    <% end %>
    <%= f.association :user, as: :hidden %>
    <%= f.hidden_field :create_method, :value => 'new' %>
  </div>
  <div class="form-submit">
    <%= f.button :submit, :value => 'Create Project' %>

    <% if @project.id %>
      <%= link_to 'Cancel', detail_project_path(@project.id), class: 'btn' %>
    <% else %>
      <%= link_to 'Cancel', projects_path, class: 'btn' %>
    <% end %>
  </div>
<% end %>
