<div class="row-fluid">
  <h2>Integrated Projects</h2>
 
 <% if @integrations.empty? %>
 <p>No Integrated Projects found</p>
 <% else %>
  <table class="table">
    <thead>
      <tr>
        <th>Harvest project</th>
        <th>Pivotal project</th>
        <th>User</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

  <% @integrations.each do |integration| %>
      <tbody>
        <tr>
        <td><%= integration.harvest_project_id %> - <%= integration.harvest_project_name %></td>
        <td><%= integration.pivotal_project_id %> - <%= integration.pivotal_project_name %></td>
        <td><%= integration.user %></td>
        <td><%= link_to 'Show', user_integration_path(@user.id, integration.id) %></td>
        <td><%= link_to 'Edit', edit_user_integration_path(@user.id, integration.id) %></td>
        <td><%= link_to 'Destroy', user_integration_path(@user.id, integration.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      </tbody>
  <% end %>
  </table>

  <% end %>
  <%= link_to 'New Integration', new_user_integration_path(@user), class: 'btn' %>
</div>
