<p id="notice"><%= notice %></p>

<p>
  <b>Harvest project:</b>
  <%= @integration.harvest_project_id %> - <%= @integration.harvest_project_name %> 
</p>

<p>
  <b>Pivotal project:</b>
  <%= @integration.pivotal_project_id %> - <%= @integration.pivotal_project_name %>
</p>

<p>
  <b>User:</b>
  <%= @integration.user %>
</p>

<p>
  <b>Callback:</b>
  <%= callback_integration_url(@integration) %>
</p>

<%= link_to 'Manage Person Mapping', integration_person_mappings_path(@integration) %> |
<%= link_to 'Edit', edit_user_integration_path(@user, @integration) %> |
<%= link_to 'Back', user_integrations_path(@user) %>
