<!DOCTYPE html>
<html>
<head>
  <title>Hipster</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/logo.png">
</head>
<body>

  <div class="container-narrow">
    <div class="masthead">
      <ul class="nav nav-pills pull-right">
        <li><%= link_to "Home", main_app.root_url, class: 'btn' %></li>
      <% if current_user %>
        <li><%= link_to 'Reload Data', main_app.reload_projects_path, class: 'btn' %></li>
        <li><%= link_to "Profile", main_app.user_path(current_user.id), class: 'btn' %></li>
        <li><%= link_to 'People', main_app.people_path, class: 'btn' %></li>
        <% if Object.const_defined?('Hiro') %>
          <li><%= link_to "Hiro", '/hiro', class: 'btn' %></li>
        <% end %>
        <li><%= link_to "Logout", '/logout', class: 'btn' %></li>
      <% else %>
        <li><%= link_to 'Login', '/auth/google_oauth2', class: 'btn' %></li>
      <% end %>
      </ul>
      <h3><%= image_tag("logo.png", alt: "Logo", class: "logo") %> <b>Hipster</b> </h3>
    </div>
    <%= yield %>
  </div>
  <br/>
</body>
</html>
