<!DOCTYPE html>
<html>
<head>
  <title>Hipster</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="logo.png">
</head>
<body class="frame">

    <div class="masthead">
      <ul class="nav nav-pills pull-right">
        <li class="webhook-callback"><strong>Copy this url into Web Hook URL bellow: </strong><code>
          <%= if callback_project_url(@project).include? "hipster.icehousecorp.com"
                callback_project_url(@project).sub("hipster.icehousecorp.com", "hipster.icehousecorp.com:8000")
              else
                callback_project_url(@project)
              end
          %>

        </code></li>
        <li><%= link_to "Next", detail_project_path, class: 'btn' %></li>
      </ul>
      <h3><%= image_tag("logo.png", alt: "Logo", class: "logo") %> <b>Hipster</b> </h3>
    </div>

    <iframe src="https://www.pivotaltracker.com/projects/<%= @project.pivotal_project_id %>/integrations#webhook_settings"></iframe>

</body>
</html>
